* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #CBAC88;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container {
    padding-top: 5rem;
    height: 60vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    top: 3rem;
}
.game {
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;


    
    
}
main{
    display: flex;
    flex-direction: column;
        justify-content: center;
        align-items: center;
}

.box {
    height: 20vh;
    width: 10vw;
    border-radius: 1rem;
    border: none;
    color:#EDB6A3 ;
    font-size: 10rem;
    background-color:#69995D ;
    
}
@media only screen and (max-width: 1000px) {
  .box {
    width: 15vw;
    
    
}
}
#turn {
    font-size: 3rem;
    margin-bottom: 2rem;
    background-color: #0fc2dd;
    padding: 0.2rem;
    border-radius: 7px;
    color: rgb(60, 62, 65);
}
#reset-btn {
    background-color: #a81b1b;
    color: rgb(255, 255, 250);
    border: none;
    margin-top: 5rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 7px;
    cursor: pointer;
}
.hide {
    display: none;
}
#new-btn{
    background-color: #1ba832;
    color: rgb(255, 255, 250);
    border: none;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 7px;
    cursor: pointer;

}
.msg-container {
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;  
    gap: 2rem;  
    align-items: center;
}
#msg {
    color: black;
    font-size: xx-large;
}